<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Network speeds</title>
    <meta name="description" content="Insights into speed tests saved in a database">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
    <style>
        html {
            color: #222;
            font-size: 1em;
            line-height: 1.4;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .chart-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
<main role="main">
    <div class="chart-container">
        <img src="/chart.svg">
    </div>
</main>
</body>
</html>
